#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  *{
    margin: 0px;
    padding: 0px;
   }
   body{
    font-family: 'Times New Roman', Times, serif;
   }
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
          
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 22px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }
   p{
    font-size: 16px;
   }